.avatar {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 3px solid #000;
  border-radius: 50%;

  &--s {
    width: 32px;
    height: 32px;
    border-width: 2px;
  }

  &--m {
    width: 64px;
    height: 64px;
  }

  &--l {
    width: 128px;
    height: 128px;
    border-width: 4px;
  }

  &--editable {
    cursor: pointer;

    &:hover .avatar__overlay,
    &:focus .avatar__overlay {
      opacity: 1;
    }

    &:focus {
      outline: 2px solid var(--color-button-shadow);
      outline-offset: 2px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 200ms ease;
  }

  &__edit-icon {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
