.guess-box {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #3a3a3c;
  color: white;
  background-color: #121213;
}

.guess-box--wrong {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}

.guess-box--contained {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.guess-box--correct {
  background-color: #538d4e;
  border-color: #538d4e;
}
