.spinner {
  display: inline-block;
  border: 3px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spinner-rotate 0.8s linear infinite;

  &--small {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  &--medium {
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  &--large {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
