.avatar-menu {
  position: relative;

  &__trigger.button {
    margin: 0;
  }

  &__popover {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: 100;
    min-width: 140px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border: 4px solid #000;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 150ms ease,
      visibility 150ms ease;
  }

  &:hover &__popover,
  &:focus-within &__popover {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    transition: background-color 150ms ease;

    &:hover {
      background-color: var(--color-button-shadow);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      background-color: var(--color-button-shadow);
    }

    &:not(:last-child) {
      border-bottom: 2px solid #000;
    }
  }
}
