.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  width: 16rem;
  height: 4rem;
  margin: 1rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &__shadow {
    position: absolute;
    inset: 0;
    z-index: 1;
    transform: translate(0.5rem, 0.5rem);
    background-color: var(--color-button-shadow);
  }

  &__background {
    position: absolute;
    inset: 0;
    z-index: 2;
    transform: translate(-0.5rem, -0.5rem);
    background-color: #fff;
    transition: transform 200ms ease;
  }

  &__label {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    font-weight: 700;
    transition: transform 200ms ease;
  }

  &:hover:not(.button--disabled) {
    .button__background {
      transform: translate(-0.75rem, -0.75rem);
    }

    .button__label {
      transform: translate(-0.25rem, -0.25rem);
    }
  }

  &:active:not(.button--disabled) {
    .button__background {
      transform: translate(-0.25rem, -0.25rem);
    }

    .button__label {
      transform: translate(0.25rem, 0.25rem);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Size variants
  &--s {
    min-width: 80px;
    width: 10rem;
    height: 2.5rem;
    margin: 0.5rem;
    font-size: 0.875rem;

    .button__label {
      border-width: 3px;
    }

    .button__shadow {
      transform: translate(0.375rem, 0.375rem);
    }

    .button__background {
      transform: translate(-0.375rem, -0.375rem);
    }

    &:hover:not(.button--disabled) {
      .button__background {
        transform: translate(-0.5rem, -0.5rem);
      }

      .button__label {
        transform: translate(-0.125rem, -0.125rem);
      }
    }

    &:active:not(.button--disabled) {
      .button__background {
        transform: translate(-0.125rem, -0.125rem);
      }

      .button__label {
        transform: translate(0.125rem, 0.125rem);
      }
    }
  }

  &--m {
    // Default size, values already set in base class
  }

  &--l {
    min-width: 160px;
    width: 20rem;
    height: 5rem;
    margin: 1.25rem;
    font-size: 1.25rem;

    .button__label {
      border-width: 6px;
    }

    .button__shadow {
      transform: translate(0.625rem, 0.625rem);
    }

    .button__background {
      transform: translate(-0.625rem, -0.625rem);
    }

    &:hover:not(.button--disabled) {
      .button__background {
        transform: translate(-0.875rem, -0.875rem);
      }

      .button__label {
        transform: translate(-0.375rem, -0.375rem);
      }
    }

    &:active:not(.button--disabled) {
      .button__background {
        transform: translate(-0.375rem, -0.375rem);
      }

      .button__label {
        transform: translate(0.375rem, 0.375rem);
      }
    }
  }

  // Image variant
  &--image {
    min-width: unset;
    width: 4rem;
    height: 4rem;

    .button__label {
      padding: 0;
      overflow: hidden;
      background: #fff;
    }

    &:hover:not(.button--disabled) .button__label {
      transform: translate(-0.25rem, -0.25rem);
    }

    &:active:not(.button--disabled) .button__label {
      transform: translate(0.25rem, 0.25rem);
    }

    &.button--s {
      width: 2.5rem;
      height: 2.5rem;

      &:hover:not(.button--disabled) .button__label {
        transform: translate(-0.125rem, -0.125rem);
      }

      &:active:not(.button--disabled) .button__label {
        transform: translate(0.125rem, 0.125rem);
      }
    }

    &.button--l {
      width: 5rem;
      height: 5rem;

      &:hover:not(.button--disabled) .button__label {
        transform: translate(-0.375rem, -0.375rem);
      }

      &:active:not(.button--disabled) .button__label {
        transform: translate(0.375rem, 0.375rem);
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
