@use '../tokens.module.scss' as tokens;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: tokens.$background;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    // padding: 2rem;
  }

  &__greeting {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }
}
