.popover {
  position: relative;
  display: inline-block;

  &__trigger {
    display: inline-flex;
  }

  &__content {
    position: absolute;
    top: calc(100% + 8px);
    z-index: 100;
    min-width: 140px;
    background: #fff;
    border: 4px solid #000;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 150ms ease,
      visibility 150ms ease;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }
}
