.share-icon-button {
  display: block;
  padding: 6px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-text);
  opacity: 0.5;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 1;
  }
}
