.file-upload {
  display: inline-block;
  cursor: pointer;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  &:focus {
    outline: 2px solid var(--color-button-shadow);
    outline-offset: 2px;
  }
}
