@use './tokens.module.scss' as tokens;

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  background-color: tokens.$background;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  &__greeting {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }
}
